@import "./styles.css";
@import "./utilities.css";

@font-face {
    font-family: "cocogoose";
    src:
      local("cocogoose"),
      url("../Fonts/cocogoose/COCOGOOSE-PRO.REGULAR.TTF") format("truetype");
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

header {
    color: #3E3E3E;;
    background-color: #fff; 
    padding-bottom: 15px;

    nav {
      i{ color:  #3E3E3E;
         font-size: 30px;
         padding: 15px;

        }

      a {
          img{
              width: 25%
          }
      }

      div {
         a {
             text-decoration : none;
             color: #3E3E3E;
             padding-bottom: 15px;
         }
      }
    }

}
// FOOTER

.footer-one {
  color: #fff ;
  background-color: #3E3E3E;
  text-align: center;
  padding: 15px 0 10px 0;

  h1 {
 font-size: 22px;
 font-weight: 400;
 }

  hr {
    color: #ED5589;;
    width: 10%;
    height: 2px;
    margin: 20px auto; 
 }

  .fab {
    font-size: 30px;
  }

  a {
    color: #ED5589;
  }

 .top-partner,
 .middle-partner {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 20px;
 }

}

.footer-two {
    display: flex;
    justify-content: space-evenly;
  
    img {
      width: 20%;
    }
  
    .copyright {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 10px;
  
      p {
        font-size: 12px;
        margin: 0;
      }
    }
}

// Desktop-view 

@media (min-width: 768px) {
    header {
        color: #3E3E3E
        background-color: #fff
        padding-bottom: 15px; 

    nav {
        font-size: 14px;
        background-color: white;
        align-items: center;
        padding: 5px 80px 5px 80px;

     a {
        flex:2 ;
        
     img {
         width:25%;
     }
    }
    
    .campaign {
        color: $highlightColor;
        background-color: white;
        border: 5px solid $highlightColor;
        width: 20%;
        height: 50px;
        margin: 0;
    }
   }
  }
    .desktop-nav {
        flex: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly; 
    }

    a:hover {
      color:#ED5589;
    }

    .footer-one {
      padding: 40px 0 20px 0; 
    

    h1 {
        font-size: 26px;
        font-weight: 400;
    }
  
      hr {
        width: 5%;
        height: 3px;
        margin: 30px auto;
    }
  
      .fab {
        font-size: 40px;
    }

    .top-partner,
    .middle-partner {
      padding-bottom: 35px;
    }
  }

  .partners-desktop-img {
      a {
        padding: 0;
        margin: 20px; 
      }
  }

  .top-partner a:hover,
  .bottom-partner a:hover {
      color: #ED5589;
  }
   
  .footer-two {
    img {
      width: 15%;
    }

    .copyright {
      p {
        font-size: 16px;
      }
    }
  }
}