@media (max-width: 768px) {
  .ticket-drop hr,
  .meal hr {
    color: #ed5589;
    width: 20%;
    height: 2px;
    margin: 5px auto 15px auto;
  }

  .ticket-drop {
    box-shadow: none;
  }

  .submit-btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: #ed5589;
    color: white;
    border: none;
    border-radius: 5px;
    align-self: center;
  }

  .submit-btn:hover {
    transform: scale(0.98);
  }

  .menu-two {
    text-align: center;
  }

  .footer-img {
    width: 100%;
    padding-top: 25px;
  }

  .copyright p {
    font-size: 12px;
    color: white;
  }
}

@media (min-width: 768px) {
  .menu-one,
  .menu-two {
    text-align: center;
    height: 30vh;
    width: 800px;
  }

  .color-ticket {
    text-align: center;
    width: 800px;
  }

  .price {
    color: #ed5589;
    font-weight: bold;
  }

  .border {
    border-style: dashed;
  }

  .ticket-drop {
    background-image: url("./images/download.jpeg");
    height: 60vh;
    width: 100%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.623);
  }

  .submit-btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background: #ed5589;
    color: white;
    border: none;
    border-radius: 5px;
  }

  .submit-btn:hover {
    transform: scale(0.98);
  }

  hr {
    color: #ed5589;
    width: 5%;
    margin: 5px auto 15px auto;
  }
}
